* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --standard-blue: #0079d3;
  --standard-background: #dae0e6;
}

.App {
  text-align: center;
}

.signup .row {
  height: 100vh;
}

.login-container {
  height: 100vh;
  display: flex;
}

.login-container .image-section {
  display: inline-block;
  height: 100%;
  flex-shrink: 0;
  display: none;
}
.login-container .image-section img {
  height: 100%;
  max-width: 100%;
}

.login-container .form-section {
}
.login-container .form-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 410px;
}
.login-container .form-section .form-title p {
  text-align: left;
  font-size: 12px;
}
.login-container .form-section .form-title p span {
  font-size: 18px;
}

.login-container .form-section div form {
  width: 300px;
}

.login-container .form-section .form-footer {
  margin-top: 15px;
}
.login-container .form-section .form-footer p {
  text-align: left;
  font-size: 12px;
}

.login-container .form-section .form-footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--standard-blue);
  font-weight: bold;
}

@media (min-width: 410px) {
  .login-container .image-section {
    flex-shrink: 1;
    display: inline-block;
  }
}
@media (min-width: 613px) {
  .login-container .image-section {
    display: inline-block;
  }
}

/***********************************************************/

.signup {
}
.signup .signup-header {
  padding: 20px;
}
.signup .signup-header p {
  font-size: 14px;
  text-align: left;
}
.signup .signup-header p span {
  font-size: 18px;
}

.signup .form-section {
  margin-bottom: 15px;
}
.signup .form-section form {
  width: 300px;
}

.footer-section {
  height: 50px;
}

.alert {
  width: 300px;
}

/*******************************************************************************/
.home {
  background-color: var(--standard-background);
}

/*******************************************************************************/
.main {
  background-color: var(--standard-background);
}

/*******************************************************************************/

.post {
  margin-bottom: 2rem;
  height: 200px;
  background-color: white;
}
.post .vote-section {
  background-color: #f7f9fa;
}
.post .vote-section .arrowUp:hover {
  color: red;
  cursor: pointer;
}
.post .vote-section .arrowDown:hover {
  color: blue;
  cursor: pointer;
}
.post .post-section {
  height: 100%;
}

.post .post-section .post-metadata {
  height: 20px;
  font-size: 0.8rem;
}
.post .post-section .post-metadata a {
  text-decoration: none;
  color: black;
}
.post .post-section .post-metadata a:hover {
  text-decoration: underline;
}
.post .post-section .post-title {
  height: 40px;
}
.post .post-section .post-body .col {
  height: 100px;
  text-overflow: clip;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post .post-section .post-text {
  height: 100px;
}
.post .post-section .post-action {
  height: 40px;
}
.post .post-section .post-action a {
  font-size: 0.8rem;
}

.post .post-section .post-action a:hover {
  background-color: #e0e3e4;
}

/******************************************************************************************/
.filter-container {
  width: 100%;
  background-color: #f7f9fa;
}
.filter-options {
}
.filter-container .sort-pills > * {
  background-color: none;
  border-radius: 20px;
  font-weight: bold;
  color: rgb(80, 78, 78);
}

.filter-container .sort-pills .new:hover,
.filter-container .sort-pills .top:hover,
.filter-container .sort-pills .hot:hover {
  background-color: #e0e3e4;
}

.sort-select {
  background-color: #e0e3e4;
  color: blue;
}

/**********************************************************************************/

.subredditHeader-container {
  background-color: tomato;
  height: 100px;
  width: 100vw;
}

.subredditHeader-container .subredditHeader-body {
  display: flex;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}

.subredditHeader-container .subredditHeader-body .subredditHeader-dp img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.subredditHeader-container .subredditHeader-body .info {
  display: flex;
  align-items: flex-start;
}

.subredditHeader-container .subredditHeader-body .info .text {
  margin-left: 2rem;
  text-align: left;
}

.subredditHeader-container .subredditHeader-body .info .subredditHeader-join {
  margin-left: 1rem;
  padding: 5px 20px 5px 20px;
  border: solid;
  border-radius: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #a41034;

  border: solid #a41034;
}
.subredditHeader-container
  .subredditHeader-body
  .info
  .subredditHeader-join:hover {
  cursor: pointer;
  color: white;
}
